@font-face {
  font-family: 'proxima_nova_extrabold';
  src: url('fonts/Mark Simonson - Proxima Nova Extrabold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('fonts/Mark Simonson - Proxima Nova Semibold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('fonts/Mark Simonson - Proxima Nova Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_light';
  src: url('fonts/Mark Simonson - Proxima Nova Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_light_italic';
  src: url('fonts/Mark Simonson - Proxima Nova Light Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_condensed_regular';
  src: url('fonts/Mark Simonson - Proxima Nova Condensed Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_thin';
  src: url('fonts/Mark Simonson - Proxima Nova Thin.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('fonts/Mark Simonson - Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;
}
.container{
  margin: 0 auto;
  font-family: proxima_nova_light;
  font-size: 16px;
  color: #707070;
  letter-spacing: 1px;
}
.inline{
  display: inline-block;
}
#wrapper {
  a {
    text-decoration: none;
  }
}
input
{
  height: 35px;
  padding-left: 10px;
  border: 1px solid #d4d4d4;
}
textarea{
  padding-left: 10px;
  padding-top: 10px;
}
.required {
  span:last-child {
    font-size: 12px;
    font-family: proxima_nova_light_italic;
  }
}
.width_26{
  width: 26%;
  margin-right: 8px;
}
.width_70{
  width: 70%;
}
/* Header */
#header_menu{
  .header_full{
    border-bottom: 1px solid #e4e4e4;
    #header_page{
      .border_left{
        border-left: 1px solid #e4e4e4;
        display: inline-block;
        width: 4.1%;
        padding: 11px 0px 13px;
      }
      .icon_fb{
        padding-left: 15px;
      }
      .icon_tw{
        padding-left: 10px;
      }
      .icon_be{
        padding-left: 10px;
      }
      .icon_se{
        width: 85%;
        padding-left: 10px;
        padding-bottom: 11px;
        a{
          color: #d4d4d4;
          font-size: 12px;
          font-family: proxima_nova_light_italic;
        }
        span{
          margin-right: 5px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .phone_number{
        position: relative;
        background: #8e2324;
        width: 66%;
        padding: 11px;
        font-size: 14px;
        color: #ffffff;
        margin-left: 30%;
        &:before {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-top: 42px solid transparent;
          border-right: 39px solid #8e2324;
          left: -39px;
          top: 0;
        }
        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-bottom: 42px solid transparent;
          border-left: 39px solid #8e2324;
          right: -39px;
          top: 0;
        }
      }
    }
  }
  #menu_page{
    margin-top: 22px;
    margin-bottom: 27px;
    .menu_main{
      text-align: right;
      padding-top: 35px;
      .active_page{
        border-bottom: 2px solid #8e2324;
      }
      a{
        margin-left: 30px;
        color: #9e9e9e;
        padding-bottom: 3px;
        &:first-child{
          margin-left: 0px;
        }
      }
      a:hover,
      a:active{
        border-bottom: 2px solid #8e2324;
      }
    }
  }
}
// Footer
#footer{
  border-top: 1px solid #e4e4e4;
  .footer_1{
    margin-top: 60px;
    .col_footer{
      .title_list{
        color: #3c3c3c;
        font-family: proxima_nova_regular;
      }
      .list_menu{
        margin-top: 20px;
        a{
          color: #9e9e9e;
        }
        li{
          margin-bottom: 15px;
        }
      }
      .address{
        margin-top: 20px;
        color: #a5a5a5;
        font-family: proxima_nova_bold;
        font-size: 14px;
        letter-spacing: 1px;
      }
      .contact{
        margin-top: 20px;
        li{
          span{
            display: inline-block;
            vertical-align: middle;
          }
          .icons_group{
            margin-right: 5px;
          }
          &:last-child{
            font-size: 14px;
          }
          margin-bottom: 10px;
        }
      }
    }
  }
  .background_footer{
    position: relative;
    bottom: 80px;
    img{
      width: 100%;
    }
  }
  .footer_2{
    text-align: center;
    margin-top: -85px;
    .copy_right{
      border-top: 2.5px solid #f4f4f4;
      letter-spacing: 1px;
      margin-bottom: 50px;
      padding-top: 40px;
      font-size: 12px;
      color: #9e9e9e;
      .word_red{
        color: #8e2324;
      }
    }

  }
}
#img_background{
  .img_caption{
    position: relative;
    bottom:90px;
    .cnt_caption{
      background: #fff;
      border-left: 6px solid #8e2324;
      padding: 0px 0px 5px;
      font-size: 50px;
      font-family: proxima_nova_thin;
      span{
        display: inline-block;
        &:first-child {
          color: #707070;
          margin-left: 15px;
        }
        &:last-child{
          color: #707070;
          margin-right: 20px;
        }
      }
    }
  }
}
#lico_service,
#vermieter_verkaufer,
#kontakt,
#empfehlung,
#suchanfrage,
#search{
  #content_page {
    padding-bottom: 75px;
    margin-top: -52px;
    .title_content {
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 50px;
      .title_main{
        font-family: proxima_nova_bold;
        font-size: 20px;
        color: #3c3c3c;
        margin-top: 70px;
        margin-bottom: 25px;
      }
      .intro_01{
        line-height: 25px;
      }
      .intro_02 {
        margin-top: 35px;
        font-family: proxima_nova_light_italic;
        font-size: 12px;
        line-height: 28px;
      }
    }
    .content {
      .width_full {
        width: 100%;
      }
      .title_form {
        font-size: 20px;
        margin-bottom: 40px;
        color: #707070;
      }
      .title_field {
        font-family: proxima_nova_bold;
        font-size: 14px;
        line-height: 16px;
        color: #707070;
        p {
          font-family: proxima_nova_bold;
          font-size: 14px;
          line-height: 16px;
          color: #707070;
        }
      }
      .text_box {
        select {
          margin-bottom: 15px;
          height: 36px;
        }
        input {
          margin-bottom: 15px;
          height: 35px;
        }
        .checkbox_css{
          input{
            margin: -2px 5px 0px 0px;
            border: none;
            height: 14px;
            display: inline-block;
          }
        }
        .input_css{
          input{
            margin: 0px 2px 15px 0px;
          }
        }
      }
      .comment{
        height: 104px;
        width: 100%;
        border-color: #d4d4d4;
      }
      .button{
        text-align: center;
        margin-top: 68px;
        .btn_red{
          background: #8e2324;
          border: none;
          height: 37px;
          width: 37px;
          vertical-align: top;
        }
        .btn_white{
          background: #fff;
          border: 1px solid #d4d4d4;
          height: 37px;
          padding: 0px 13px;
          margin-left: -6px;
          font-size: 12px;
          letter-spacing: 1px;
          word-spacing: 1px;
        }
      }
      .css_select{
        height: 36px;
        overflow: hidden;
        background: url(../images/down_arrow.png) no-repeat 97% #fff;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        .dropdown_css{
          width: 100%;
          background: transparent;
          padding: 10px;
          border: none;
          -webkit-appearance: none;
          -moz-appearance: none;

        }
      }
    }
  }
}
// BODY HOME PAGE
#home_page{
  #img_background_home{
    .img_caption{
      position: relative;
      bottom:220px;
      padding-top: 330px;
      padding-bottom: 115px;
      color: #ffffff;
      .cap_01{
        font-size: 50px;
        margin-bottom: 15px;
        letter-spacing: 2px;
      }
      .cap_02{
        position: relative;
        font-size: 20px;
        font-family: proxima_nova_bold;
        background: #8e2324;
        padding: 8px 10px 6px 20px;
        letter-spacing: 9px;
        word-spacing: 1px;
        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-top: 38px solid transparent;
          border-left: 39px solid #8e2324;
          right: -39px;
          top: 0;
        }
      }
      .cap_03{
        font-size: 28px;
        font-family: proxima_nova_light_italic;
        margin-top: 20px;
        letter-spacing: 3px;
      }

    }
  }
  #content_1{
    margin-top: 60px;
    margin-bottom: 35px;
    .tittle_cnt_1{
      text-align: center;
      margin-bottom: 55px;
      color: #3c3c3c;
      font-family: proxima_nova_bold;
      font-size: 20px;
      h3{
        line-height: 32px;
      }
    }
    .icon_check{
      width: 5%;
      display: inline-block;
      vertical-align: top;
    }
    .cnt_list{
      width: 94%;
      display: inline-block;
      vertical-align: top;
      line-height: 27px;
      margin-top: -5px;
    }
    .list-check{
      margin-bottom: 20px;
    }
  }

  #content_2{
    position: relative;
    #line{
      border-top: 1px solid #e4e4e4;
      width: 97%;
      margin-left: 15px;
    }
    .title_cnt_2{
      background: #8e2324;
      color: #ffffff;
      font-family: proxima_nova_bold;
      font-size: 14px;
      padding: 6px 0px 6px 12px;
      width: 13.3%;
      margin-left: 15px;
      position: absolute;
      top: -13px;
      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-top: 26px solid transparent;
        border-left: 26px solid #8e2324;
        right: -26px;
        top: 0;
      }
    }
    .img_sec{
      margin-top: 35px;
      margin-bottom: 25px;
      border-bottom: 2px solid #8e2324;
      width: 97.8%;
      padding-bottom: 3px;
      img{
        width: 100%;
      }
    }
    .content_box {
      font-size: 14px;
      text-align: center;
      margin-left: 0%;
      margin-right: 2%;
      .title_col {
        margin-bottom: 20px;
        color: #3c3c3c;
        font-family: proxima_nova_bold;
        font-size: 14px;
        line-height: 20px;
      }
      .cnt_col {
        margin-bottom: 30px;
        p {
          line-height: 27px;
        }
      }
      .read_more {
        margin-bottom: 60px;
        text-align: center;
        a {
          border: 1px solid #e4e4e4;
          padding: 7px 10px 7px 0px;
          color: #8e2324;
        }
        .right_arrow {
          background: #8e2324;
          padding: 8px 16px;
        }
        .name_arrow {
          font-size: 12px;
          font-family: proxima_nova_light;
          padding-left: 5px;
        }
      }
    }
  }
}
// BODY LICO SERVICE
#lico_service{
  #content_page{
    text-align: center;
    .service_box{
      margin-top: 75px;
      margin-bottom: 75px;
      .title_ser{
        margin-bottom: 80px;
        font-size: 30px;
        font-family: proxima_nova_thin;
      }
      .all_service{
        a{
          color: #9e9e9e;
        }
        span{
          display: block;
          line-height: 26px;
        }
        .icon_ser{
          margin-bottom: 40px;
        }
        .row_01{
          margin-bottom: 70px;
        }
      }
    }
  }
}
//IMPRESSUM
#impressum{
  #content_page{
    padding-bottom: 75px;
    margin-top: 23px;
    .content_left{
      .name_member{
        display: block;
        margin-bottom: 40px;
        border-bottom: 1px solid #8e2324;
        width: 26.5%;
        .name{
          font-size: 24px;
          margin-bottom: 5px;
        }
        .position{
          font-family: proxima_nova_light_italic;
          margin-bottom: 15px;
        }
      }
      .license{
        p{
          line-height: 33px;
        }
      }
    }
    .content_right{
      text-align: right;
      .name_company{
        font-family: proxima_nova_bold;
        font-size: 20px;
        margin-bottom: 30px;
        span{
          &:first-child{
            color: #8e2324;
          }
          &:last-child{
            color: #3c3c3c;
          }
        }
      }
      .address{
        margin-bottom: 30px;
        line-height: 20px;
        span{
          display: block;
          margin-bottom: 15px;
        }
      }
      .contact{
        span{
          display: block;
          margin-bottom: 15px;
        }
        a{
          color:#9e9e9e;
        }
      }
    }
  }
}
//VERMIETER
#vermieter_verkaufer{
  #content_page{
    padding-bottom: 75px;
    .title_content{
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 50px;
      .intro_02{
        margin-top: 35px;
        font-family: proxima_nova_light_italic;
        font-size: 12px;
        line-height: 28px;
      }
    }
    .content{
      .form-box{
        .width_full {
          width: 100%;
        }
        .title_form{
          font-size: 20px;
          margin-bottom: 40px;
        }
        .title_field{
          p{
            font-family: proxima_nova_bold;
            font-size: 14px;
            line-height: 16px;
          }
        }
        .text_box{
          select{
            margin-bottom: 15px;
            height: 36px;
          }
          input{
            margin-bottom: 15px;
            height: 35px;
          }
        }
        .form_left{
          select{
            width: 100%;
          }
          input{
            width: 100%;
          }
          .title_field {
            p{
              margin-bottom: 35px;
            }
            .margin_30px{
              margin-bottom: 30px;
            }
          }
          .field_unit{
            position: relative;
            .unit{
              position: absolute;
              right:2px;
              top: 2px;
              font-size: 14px;
              color: #707070;
              background: #fff;
              text-align: center;
              padding: 13px 10px 0px 6px;
              sup{
                font-size: 11px;
                margin-left: -5px;
              }
            }
          }
        }
        .form_right{
          .form_box{
            .title_field {
              p{
                margin-bottom: 20px;
              }
              .margin_27px{
                margin-bottom:  27px;
              }
              .margin_37px{
                margin-bottom:  37px;
              }
            }
            .text_box{
              .sex_name{
                display: inline-block;
                .sex{
                  width: 24%;
                  margin-right: 13px;
                  display: inline-block;
                  vertical-align: top;
                  background-position: 87%;
                }
                .name{
                  display: inline-block;
                  vertical-align: top;
                }
              }
              .name{
                width: 71%;
                .name_01{
                  width: 38%;
                  margin-right: 13px;
                }
                .name_02{
                  width: 55%;
                }
              }
              .box_01{
                width: 24%;
                margin-right: 13px;
              }
              .box_02{
                width: 71%;
              }
            }
          }
        }
      }
    }
  }
}
#kontakt{
  #content_page{
    .content{
      .sex_land{
        width: 60%;
      }
      .form_left{
        .title_field{
          p{
            margin-bottom: 35px;
          }
        }
      }
      .form_right{
        .sentence{
          margin-bottom: 15px;
          font-family: proxima_nova_light_italic;
          font-size: 14px;
        }
        .form_box{
          .title_field{
            p{
              &:first-child{
                margin-bottom: 110px;
              }
              &:last-child{
                margin-top: 103px;
              }
            }
          }
          .text_box{
            .comment{
              margin-bottom: 15px;
            }
            .security{
              margin-bottom: 5px;
              input{
                width: 30%;
              }
              .captcha{
                width: 75px;
                display: inline-block;
                vertical-align: top;
                img{
                  width: 100%;
                }
              }
            }
          }
        }

      }
    }
  }
}
#empfehlung{
  #content_page{
    padding-top: 75px;
    .form_box{
      .cnt_title {
        margin-bottom: 40px;
        p {
          font-size: 20px;
          margin-bottom: 30px;
          color:#707070;
        }
      }
    }
    .form_left{
      .text_box{
        .comment{
          height: 135px !important;
        }
      }
    }
    .form_right{
      .title_field{
        p{
          margin-bottom: 35px;
        }
      }
    }
  }
}
#suchanfrage {
  #content_page {
    .row_style {
      margin-bottom: 15px;
    }
    .checkbox_css {
      margin-bottom: -5px;
      input {
        margin-top: 0px;
        margin-right: 7px;
      }
    }
    .form_box_01 {
      .form_left {
        .title_field {
          .note {
            font-size: 12px;
            font-family: proxima_nova_light;
            display: block;
            margin-top: 20px;
            width: 80%
          }
        }
        .checkbox_group {
          .checkbox_css {
            span {
              font-size: 11px;
            }
          }
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .form_right {
        .group_input {
          span {
            color: #707070;
          }
          .input_left {
            width: 49%;
            display: inline-block;
            input {
              width: 83%;
            }
          }
          .input_right {
            width: 49%;
            display: inline-block;
            input {
              width: 84%;
            }
            sup {
              font-size: 12px;
              margin-left: -5px;
            }
          }
        }
      }

    }
    .form_box_02 {
      .form_left {
        .row_1 {
          .css_select {
            width: 25%;
            margin-bottom: 0px;
            margin-right: 10px;
            background: url(../images/down_arrow.png) no-repeat 87% #fff;
          }
          .name_01 {
            width: 25%;
            vertical-align: top;
            margin-right: 10px;
          }
          .name_02 {
            width: 41%;
            vertical-align: top;
          }
        }
      }
    }
  }
}
#search{
  #content_page{
    .title_content{
      margin: 0px;
      text-align: left;
    }
    .content{
      border-bottom: 1px solid #d4d4d4;
      padding-bottom: 35px;
      margin-bottom: 40px;
      .search{
        width: 39%;
        position: relative;
        margin-bottom: 12px;
        .icon_search{
          position: absolute;
          right: 10px;
          top: 11px;
        }
      }
    }
    .width_75{
      width: 75%;
    }
    .result_search{
      margin-bottom: 35px;
      font-size: 14px;
      .title_result{
        font-size: 24px;
        font-family: proxima_nova_regular;
        color: #8e2324;
        span{
          border-bottom: 1px solid #c69191;
        }
        margin-bottom: 25px;
      }
      .cnt_result{
        .word_search{
          font-family: proxima_nova_extrabold;
        }
      }
    }

  }

}











